html,
body {
  background: $color-white;
  color: $color-black;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  min-width: 320px!important;
}
body,
a,
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 82px;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 46px;
  margin-bottom: 22px;
  margin-left: 21px;
  margin-right: 21px;
}
h4 {
  font-size: 30px;
}
h5 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
p {
  margin: 0;
  font-size: 14px;
}
.container-fluid {
  overflow-x: hidden;
}
.section {
  text-align: center;
}
.list--simple {
  padding: 0;
  list-style-type: none;
}
.transition--short {
  transition: all 0.2s;
}
.unselectable:focus {
  outline: none;
}

@media all and (max-width: $belowTablet) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 15px;
  }
}

@media all and (max-width: $belowPhone) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
}