.display {
  &--ib {
    &-above-desktop-xl {
      display: none;
    }
    &-desktop-xl {
      display: none;
    }
    &-desktop {
      display: none;
    }
    &-tablet {
      display: none;
    }
    &-phone {
      display: none;
    }
  }
}
@media all and (min-width: $desktop-xl) {
  .display {
    &--ib {
      &-above-desktop-xl {
        display: inline-block;
      }
    }
    &--b {
      &-above-desktop-xl {
        display: block;
      }
    }
  }
}

@media all and (max-width: $belowDesktop-xl) and (min-width: $desktop) {
  .display {
    &--ib {
      &-desktop-xl {
        display: inline-block;
      }
    }
    &--b {
      &-desktop-xl {
        display: block;
      }
    }
  }
}

@media all and (max-width: $belowDesktop) and (min-width: $tablet) {
  .display {
    &--ib {
      &-desktop {
        display: inline-block;
      }
    }
    &--b {
      &-desktop {
        display: block;
      }
    }
  }
  .hide {
    &-display {
      display: none;
    }
  }
}

@media all and (max-width: $belowTablet) and (min-width: $phone) {
  .display {
    &--ib {
      &-tablet {
        display: inline-block;
      }
    }
    &--b {
      &-tablet {
        display: block;
      }
    }
  }
  .hide {
    &-tablet {
      display: none;
    }
  }
}

@media all and (max-width: $belowPhone) {
  .display {
    &--ib {
      &-phone {
        display: inline-block;
      }
    }
    &--b {
      &-phone {
        display: block;
      }
    }
  }
}