.about {
  background: $color-purple url("../img/testimonials_background.png") no-repeat center top;
  background-size: cover;
  border-color: $color-light-purple;
  padding-top: 100px;
  text-align: center;
}

.testimonials {
  &__grid {
    margin-bottom: 100px;
  }
  &__card {
    margin-top: 100px;
  }
  &__description {
    margin-top: 35px;
  }
  &__image-holder {
    height: 65px;
    line-height: 65px;
  }
}

@media all and (max-width: $belowTablet) {
  .about {
    padding-top: 70px;
  }
  .testimonials {
    &__card {
      margin-top: 40px;
    }
    &__grid {
      margin-bottom: 80px;
    }
  }
}

@media all and (max-width: $belowPhone) {
  .about {
    padding-top: 50px;
  }
  .testimonials {
    &__description {
      margin: auto;
      max-width: 260px;
    }
    &__card {
      margin-top: 30px
    }
    &__image-holder {
      height: 56px;
      line-height: 56px;
      transform: scale(0.8, 0.8);
    }
    &__grid {
      margin-bottom: 60px;
    }
  }
}