.home {
  background: $color-black;
  height: 100vh;
  max-height: 1400px;
  margin-bottom: 79px;
  padding-top: 181px;
  text-align: center;
  min-width: 320px;
  width: 100%;
  position: relative;
  display: table;
  &__header {
    display: table-row;
  }
  &__bottom {
    background: url("../img/hero_background.png") no-repeat center top;
    background-size: cover;
    display: table-row;
    height: 100%;
  }
  &__footer {
    position: absolute;
    bottom: -70px;
    width: 100%;
    min-width: 320px;
    &__trial {
      margin-top: 19px;
    }
  }
}

@media all and (max-width: $belowPhone){
  .home {
    padding-top: 150px;
    &__footer {
      bottom: -64px
    }
  }
}
