.opinions {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  &__social {
    margin: 60px 0px 70px;
    &__button {
      padding: 10px;
      display: inline-block;
      vertical-align: top;
    }
    &__followers {
      padding: 8px;
    }
  }
}

.opinion {
  padding: 0 175px;
  &__issuer {
    margin-bottom: 35px;
    text-align: left;
    display: inline-block;
    &__name {
      margin-left: 25px;
      vertical-align: middle;
      display: inline-block;
    }
    &__image {
      display: inline-block;
    }
  }
  &__footer {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media all and (max-width: $belowDesktop) {
  .opinions {
    &__social {
      &__button {
        padding: 5px 5px;
      }
    }
  }
  .opinion {
    padding: 0 100px;
  }
}

@media all and (max-width: $belowTablet) {
  .opinions {
    margin-top: 80px;
    .container {
      max-width: 100%;
    }
  }
  .opinion {
    &__footer {
      margin-bottom: 40px;
    }
  }
}

@media all and (max-width: $belowPhone) {
  .opinions {
    margin-top: 50px;
    &__social {
      margin: 30px 0px 35px;
    }
    .text {
      &--size {
        &-normal {
          font-size: 9px;
        }
      }
    }
  }
  .opinion {
    padding: 0 50px;
    &__issuer {
      &__name {
        margin-left: 5px;
      }
    }
    &__footer {
      margin-bottom: 30px;
    }
    .text {
      &--size {
        &-md {
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (max-width: 410px) {
  .opinions {
    &__social {
      &__button {
        display: block;
      }
    }
  }
}