.pricing {
  background: $color-purple url("../img/pricing_background.png") no-repeat center top;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 75px;
  &__cards {
    text-align: center;
    height: 560px;
    margin-bottom: 80px;
    margin-top: 45px;
  }
  &__footer {
    padding: 0 10px;
    margin: auto;
    max-width: 620px;
  }
}

.card {
  background: $color-white-opaque;
  border: 0 $color-primary;
  padding: 0;
  width: 255px;
  height: 460px;
  margin: 50px 7px;
  &__header {
    background: $color-white-opaque;
    padding: 35px 0;
  }
  &__content {
    padding: 4px 0;
  }
  &__element {
    &--margin {
      &-m {
        margin-top: 32px;
        margin-bottom: 14px;
      }
      &-s {
        margin-top: 27px;
        margin-bottom: 14px;
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: 36px;
    left: 38px;
  }
  &:hover {
    height: 560px;
    width: 300px;
    margin: 0 7px;
    background: $color-black-opaque;
    .text--size-lg {
      font-size: 82px;
    }
    .btn--size-sm {
      padding: 12px 36px;
      border-radius: 26px;
    }
    .card {
      &__header {
        background: $color-black-opaque;
        padding: 43px 0;
      }
      &__bottom {
        bottom: 70px;
        left: 60px;
      }
      &__element {
        &--margin {
          &-m {
            margin-top: 42px;
            margin-bottom: 35px;
          }
          &-s {
            margin-top: 12px;
            margin-bottom: 14px;
          }
        }
      }
    }
  }
}

@media all and (max-width: $desktop-xl) {
  .pricing {
    &__cards {
      margin-bottom: 30px;
    }
  }
  .card {
    width: 200px;
    height: 420px;
    &__bottom {
      left: 12px;
    }
    &:hover {
      height: 500px;
      width: 230px;
      margin: 15px 7px;
      .card {
        &__bottom {
          left: 27px;
        }
      }
    }
    .text {
      &--size {
        &-xl {
          font-size: 48px;
        }
        &-s {
          font-size: 13px;
        }
      }
    }
  }
}

@media all and (max-width: $belowDesktop) {
  .pricing {
    &__cards {
      padding: 0 0;
      margin-bottom: 20px;
    }
    &__footer {
      max-width: 580px;
    }
  }
  .card {
    width: 168px;
    height: 420px;
    &__bottom {
      bottom: 30px;
      left: 8px;
    }
    &:hover {
      height: 480px;
      width: 190px;
      margin: 25px 7px;
      .card {
        &__bottom {
          left: 15px;
          bottom: 65px;
        }
      }
    }
    .text {
      &--size {
        &-xl {
          font-size: 46px;
        }
        &-normal {
          font-size: 12px;
        }
        &-s {
          font-size: 12px;
        }
        &-ss {
          font-size: 13px;
        }
      }
    }
    .btn {
      &--size {
        &-sm {
          padding: 7px 30px;
          border-radius: 18px;
        }
      }
    }
  }
}

@media all and (max-width: $belowTablet) {
  .pricing {
    &__cards {
      max-width: 500px;
      height: 860px;
      margin: 0 auto;
      align-content: flex-start;
    }
    &__footer {
      max-width: 520px;
    }
  }
  .card {
    height: 350px;
    margin: 25px 7px;
    &__header {
      padding: 25px 0;
    }
    &__element {
      &--margin {
        &-m {
          margin-top: 20px;
          margin-bottom: 14px;
        }
        &-s {
          margin-top: 20px;
          margin-bottom: 14px;
        }
      }
    }
    &:hover {
      height: 400px;
      width: 190px;
      margin: 0px 7px;
      .card {
        &__bottom {
          left: 15px;
          bottom: 45px;
        }
        &__header {
          padding: 32px 0;
        }
        &__element {
          &--margin {
            &-m {
              margin-top: 20px;
              margin-bottom: 14px;
            }
            &-s {
              margin-top: 20px;
              margin-bottom: 14px;
            }
          }
        }
      }
    }
    .text {
      &--size {
        &-xl {
          font-size: 40px;
        }
      }
    }
  }
}
@media all and (max-width: $belowPhone) {
  .pricing {
    &__cards {
      height: 740px;
      max-width: 414px;
    }
    &__footer {
      max-width: 470px;
    }
  }
  .card {
    width: 127px;
    height: 300px;
    margin: 20px 7px;
    &__bottom {
      bottom: 20px;
      left: 0px;
    }
    &__element {
      &--margin {
        &-m {
          margin-top: 15px;
          margin-bottom: 14px;
        }
        &-s {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
    }
    &:hover {
      width: 135px;
      height: 340px;
      .card {
        &__bottom {
          bottom: 30px;
          left: 1px;
        }
      }
      .btn--size-sm {
        padding: 8px 22px;
        border-radius: 26px;
      }
    }
    .text {
      &--size {
        &-xl {
          font-size: 36px;
        }
        &-l {
          font-size: 14px;
        }
        &-s {
          font-size: 10px;
        }
        &-ss {
          font-size: 12px;
        }
      }
    }
    .btn {
      &--size {
        &-sm {
          padding: 4px 18px;
          border-radius: 18px;
          margin: 0 10px;
        }
      }
    }
  }
}
