.revolutionary {
  padding-top: 25px;
  padding-bottom: 55px;
  text-align: center;
  .row {
    margin-top: 30px;
  }
}

@media all and (max-width: $belowPhone){
  .revolutionary {
    padding-bottom: 30px;
  }
}
