.support {
  padding-top: 53px;
  padding-bottom: 25px;
  color: $color-primary;

  &__header {
    padding-bottom: 24px;
  }
  &__subheader {
    padding: 14px 0;
  }
  &__blog-header {
    padding-top: 25px;
    padding-bottom: 0;
  }
  &__button-go {
    margin: 35px 0;
  }
}

@media all and (max-width: $belowTablet) {
  .support {
    &__articles {
      max-width: 400px;
    }
    &__header {
      padding-bottom: 0;
    }
  }
}

@media all and (max-width: $belowPhone) {
  .support {
    margin: 0 20px;
    &__button-go {
      margin: 30px 0;
    }
  }
}
