.img {
  &--wrapper {
    &-circle {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 50%;
      img {
        height: 100%;
        width: auto;
      }
    }
    &-md {
      width: 100px;
      height: 100px;
      img {
        margin-left: -25px;
      }
    }
  }
  &--position {
    &-center {
      margin: auto;
      display: block;
    }
  }
}

.logo {
  transition: all 0.4s;
  &--size {
    &-normal {
      height: 45px;
      width: auto;
    }
  }
}

.sandwich {
  &--size {
    &-normal {
      height: 25px;
      width: auto;
    }
  }
}

@media all and (max-width: $belowDesktop) {
  .logo {
    &--size {
      &-normal {
        height: 35px;
        width: auto;
      }
    }
  }
}

@media all and (max-width: $belowTablet) {
  .logo {
    &--size {
      &-normal {
        height: 35px;
        width: auto;
      }
    }
  }

  .sandwich {
    &--size {
      &-normal {
        height: 20px;
        width: auto;
      }
    }
  }
}

@media all and (max-width: $belowPhone) {
  .img {
    &--wrapper {
      &-md {
        width: 64px;
        height: 64px;
        img {
          margin-left: -16px;
        }
      }
    }
  }
}
