.separator {
  border-color: inherit;
  margin-bottom: 0;
  &--size {
    &-md {
      width: 80%;
    }
    &-s {
      width: 60px;
    }
  }
  &--weight {
    &-md {
      border-width: 5px;
    }
  }
  &--color {
    &-primary {
      border-color: $color-primary;
    }
  }
}

.v-line {
  &--normal {
    width: 2px;
    height: 35px;

  }
  &--light-grey {
    background-color: $color-extra-light-grey;
  }
  &--spacing {
    &-l {
      margin: 0 20px;
    }
  }
}

@media all and (max-width: $belowDesktop) {
  .separator {
    &--weight {
      &-md {
        border-width: 4px;
      }
    }
  }
}