.text {
  &--color {
    &-primary {
      color: $color-primary;
    }
    &-secondary {
      color: $color-secondary;
    }
    &-accent {
      color: $color-accent;
    }
    &-grey {
      color: $color-grey;
    }
    &-strong-grey {
      color: $color-strong-grey;
    }

    &-white {
      color: $color-white;
    }
    &-purple-opaque {
      color: $color-light-purple-opaque;
    }
    &-white-opaque {
      color: $color-white-opaque-medium;
    }
  }
  &--size {
    &-xl {
      font-size: 60px;
    }
    &-lg {
      font-size: 28px;
    }
    &-l {
      font-size: 24px;
    }
    &-md {
      font-size: 21px;
    }
    &-s {
      font-size: 16px;
    }
    &-normal {
      font-size: 14px;
    }
    &-ss {
      font-size: 15px;
    }
    &-xs {
      font-size: 13px;
    }
    &-xxs {
      font-size: 12px;
    }
  }
  &--weight {
    &-b {
      font-weight: 700;
    }
    &-sb {
      font-weight: 600;
    }
    &-md {
      font-weight: 500;
    }
    &-normal {
      font-weight: 400;
    }
  }
  &--case {
    &-upper {
      text-transform: uppercase;
    }
  }
  &--nowrap {
    white-space: nowrap;
  }
  &--family {
    &-source {
      font-family: "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    }
    &-lato {
      font-family: Lato, "Open sans", Helvetica, Arial, sans-serif;
    }
  }
}

@media all and (max-width: $belowDesktop-xl) {
  .text {
    &--size {
      &-l {
        font-size: 22px;
      }
      &-s {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: $belowDesktop) {
  .text {
    &--size {
      &-l {
        font-size: 18px;
      }
    }
  }
}

@media all and (max-width: $belowTablet) {
  .text {
    &--size {
      &-normal {
        font-size: 12px;
      }
      &-md {
        font-size: 18px;
      }
      &-xs {
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: $belowPhone) {
  .text {
    &--size {
      &-lg {
        font-size: 22px;
      }
      &-md {
        font-size: 16px;
      }
      &-s {
        font-size: 14px;
      }
      &-normal {
        font-size: 12px
      }
    }
  }
}